.header {
    position: relative;
    min-height: 100vh;
    height: fit-content;
}

.nav {
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(44, 44, 44, 0.6);
    backdrop-filter: blur(1rem);

    position: relative;
}

.nav__lines {
    width: 3.5rem;
    height: 3.5rem;

    display: grid;
    gap: .5rem;

    padding: 1rem 0rem 0rem 1.6rem;
}

.nav__checkbox {
    width: 3.5rem;
    height: 3.5rem;
    opacity: 0;
    
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 1rem;
    left: 1.6rem;
    margin: 0;
}

.nav__lines span {
    display: block;
    height: .5rem;
    background: var(--text-color-menu);
    transition: all .3s ease;
}

.nav__checkbox:checked ~ .nav__lines span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scale(1.1);
}

.nav__checkbox:checked ~ .nav__lines span:nth-child(2) {
    opacity: 0;
}

.nav__checkbox:checked ~ .nav__lines span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scale(1.1);
}

.nav__checkbox:checked ~ .nav__ul {
    margin-top: 0;
}

.nav__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.8rem;

    padding: 1.6rem 5% 6rem;
    font-size: 1.6rem;
    font-weight: bold;

    margin-top: -31rem;
    transition: all .3s ease;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color-menu);
}

.header__wrapper-text {
    padding: 5% 0% 3% 15%;
    width: 56%;
}

.header__title {
    font-size: 7.2rem;
    font-family: var(--font-header-title);
    color: var(--header-title-color);
    text-shadow: var(--header-title-shadow);
}

.header__subtitle {
    font-size: 1.4rem;
    text-shadow: var(--header-subtitle-shadow);
    color: var(--header-subtitle-color);
    text-transform: uppercase;

    line-height: 130%;
    margin-top: 3.4rem;

    backdrop-filter: blur(.5rem);
    background: rgba(121, 0, 0, 0.4);
    padding: 1.5rem 2rem;
    position: relative;
}

.header__subtitle::before, .header__subtitle::after {
    content: "";
    position: absolute;
    width: 5rem;
    height: 5rem;
}

.header__subtitle::before {
    top: 0;
    left: 0;

    border-top: .4rem solid var(--button-cta-border-color);
    border-left: .4rem solid var(--button-cta-border-color);
}

.header__subtitle::after {
    right: 0;
    bottom: 0;

    border-bottom: .4rem solid var(--button-cta-border-color);
    border-right: .4rem solid var(--button-cta-border-color);
}

.btn-cta {
    display: grid;
    place-content: center;

    background: var(--button-cta-content-color);
    border: .2rem solid var(--button-cta-content-color-hover);
    color: var(--button-cta-content-color-hover);
    
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;

    width: 20rem;
    line-height: 4.2rem;
    margin-top: 5rem;
    text-transform: uppercase;
}

.is-btn-hover:hover {
    color: var(--header-title-color);
    background: var(--button-cta-content-color-hover);
    border: .2rem solid var(--button-cta-content-color);
    transition: all .2s linear;
}

.header__mute {
    background: var(--button-cta-content-color);
    border: .3rem solid var(--button-cta-content-color-hover);
    /* box-shadow: 0rem 0rem .5rem var(--button-cta-content-color-hover); */
    border-radius: 50%;
    padding: 1.4rem;

    position: absolute;
    right: 5%;
    bottom: 5%;

    cursor: pointer;
}

.is-high{
    background: var(--button-cta-content-color-hover);
    border: .3rem solid var(--button-cta-content-color);
    /* box-shadow: 0rem 0rem .5rem var(--button-cta-content-color); */
}

.header__video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center center;
}

@media (min-width: 1200px) {

    .header__subtitle {
        font-size: 3.4rem;    
    }
}

@media (min-width: 600px) {
    .nav__checkbox, .nav__lines {
        display: none;
    }

    .nav__ul {
        flex-direction: row;
        gap: 4.8rem;
        padding: 1.6rem 5%;
        margin-top: 0rem;
    }
}