/* Importando fonts do google */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Bakbak+One&family=Inter:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


.main {
    background: rgb(13, 13, 13);
    width: 100vw;
    height: 100vh;

    color: white;
}

.main__title {
    font-size: 72px;
    text-transform: uppercase;
    
    padding-top: 20px;
    text-align: center;
}

.main__subtitle {
    width: 70%;
    font-size: 24px;
    font-weight: 400;
    margin: auto;
}

.main__text {
    width: 70%;
    margin: 20px auto 20px;
    font-size: 24px;
}

.main__button {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.main__link {
    background: #E9D68F;
    border: 2px solid #E9D68F;
    color: rgb(163, 0, 0);
    
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    margin-top: 5rem;

    padding: 10px 30px;
}

.main__link:hover {
    background: rgba(242, 21, 21, 0.8);
    border: 2px solid #E9D68F;
    color: #E9D68F;

    transition: all .2s linear;
}
